<div class="index-container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <div class="users">
      <div class="title">
        <h2>Usuários</h2>
      </div><!--title-->

      <div class="user-box">
        <div class="user-single">
          <div class="name">
            <a [routerLink]="['/usuario/1']">Nome</a>
          </div><!--name-->

          <div class="actions">
            <form action="" method="post">
              <button type="submit">Atualizar</button>
            </form>

            <form action="" method="post">
              <button type="submit">Deletar</button>
            </form>
          </div><!--actions-->
        </div><!--user-single-->

        <div class="user-single">
          <div class="name">
            <a [routerLink]="['/usuario/2']">Nome</a>
          </div><!--name-->

          <div class="actions">
            <form action="" method="post">
              <button type="submit">Atualizar</button>
            </form>

            <form action="" method="post">
              <button type="submit">Deletar</button>
            </form>
          </div><!--actions-->
        </div><!--user-single-->

        <div class="user-single">
          <div class="name">
            <a [routerLink]="['/usuario/3']">Nome</a>
          </div><!--name-->

          <div class="actions">
            <form action="" method="post">
              <button type="submit">Atualizar</button>
            </form>

            <form action="" method="post">
              <button type="submit">Deletar</button>
            </form>
          </div><!--actions-->
        </div><!--user-single-->
      </div><!--user-box-->
    </div><!--users-->
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div><!--index-container-->
