<div class="index-container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <div class="users">
      <div class="title">
        <h2>Usuários</h2>
      </div><!--title-->

      <div class="user-box" *ngFor="let item of this.users">
        <div class="user-single">
          <div class="name">
            <p>{{item.first_name}} {{item.last_name}}</p>
          </div><!--name-->

          <div class="actions">
            <a [routerLink]="['/usuario/'+item.id]">Visualizar</a>
          </div><!--actions-->
        </div><!--user-single-->

      </div><!--user-box-->
    </div><!--users-->
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div><!--index-container-->
