<div class="index-container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <div class="users">
      <div class="title">
        <h2>Usuários</h2>
      </div><!--title-->

      <div class="user-box" *ngFor="let item of this.users">
        <div class="user-single">
          <div class="name">
            <p>{{item.first_name}} {{item.last_name}}</p>
          </div><!--name-->

          <div class="actions">
            <a [routerLink]="['/usuario/'+item.id]">Visualizar</a>
          </div><!--actions-->
        </div><!--user-single-->

      </div><!--user-box-->

      <div class="modal_delete_user" *ngIf="modal_delete_user">
        <div class="modal_wraper_delete_user">
          <div class="content">
            <p>Deseja excluir este usuário permanentemente?</p>
          </div><!--content-->

          <div class="options">
            <form action="" method="post">
              <button type="submit" (click)="delete_user()">Excluir</button>
              <button type="button" (click)="close_modal_delete_user()">Cancelar</button>
            </form>
          </div><!--options-->
        </div><!--modal_wraper_delete_user-->
      </div><!--modal_delete_user-->
    </div><!--users-->
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div><!--index-container-->
