<div class="view-user-container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <div class="data-user">
      <div class="box">
        <p>Nome:</p>
        <p>{{first_name}}</p>
      </div><!--box-->

      <div class="box">
        <p>Sobrenome:</p>
        <p>{{last_name}}</p>
      </div><!--box-->

      <div class="box">
        <p>Email:</p>
        <p>{{email}}</p>
      </div><!--box-->

      <div class="box">
        <p>Nível de Usuário:</p>
        <p>{{nivel_user}}</p>
      </div><!--box-->

      <div class="actions">
        <a [routerLink]="['/atualizar-usuario/'+id]">Atualizar</a>

        <form action="" method="post">
          <button type="button">Resetar senha</button>

          <button type="button" (click)="open_modal_delete_user()">Deletar</button>
        </form>
      </div><!--actions-->
    </div><!--data-user-->
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div><!--view-user-container-->
