$color-links:rgb(12,14,90)
$padding-links:2px
$border-links:2px solid rgb(12,14,90)
$font-size-links:19px

a
  color: $color-links
  text-decoration: none
  transition: 0.2s
  transition-timing-function: ease-in
  font-size: $font-size-links
  &:hover
    padding-bottom: $padding-links
    border-bottom: $border-links
