<div class="header-container">
  <div class="header-elements">
    <div class="title">
      <a [routerLink]="['/index']">
        <app-title [title]="title"></app-title>
      </a>
    </div><!--title-->

    <div class="links">
      <ul>
        <li>
          <app-link
          [redirect_links]="redirect_links.create_user"
          [name_links]="name_links.create_user"
          ></app-link>
        </li>

        <li>
          <app-link
          [redirect_links]="redirect_links.tutorial"
          [name_links]="name_links.tutorial"
          >
          </app-link>
        </li>

        <li>
          <app-link
            [redirect_links]="redirect_links.sair"
            [name_links]="name_links.sair"
          ></app-link>
        </li>
      </ul>
    </div><!--links-->
  </div><!--header-elements-->
</div><!--header-container-->
