$font-family-default: Arial, Helvetica, sans-serif


div.header-container div.header-elements
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0 40px
  font-family:$font-family-default


