$font-family-default: Arial, Helvetica, sans-serif


div.header-container div.header-elements
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0 40px
  font-family:$font-family-default

div.header-elements div.links ul
  display: flex
  flex-direction: row

div.header-elements div.links li
  list-style-type: none
  margin-right: 20px
  &:last-child
    margin-right: 0px

